[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    too-many-branches,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    line-too-long

[FORMAT]
max-line-length=100

[REPORTS]
output-format=colorized